<form [formGroup]="form" (submit)="onSubmit($event)" class="w-full">
    <div class="md:flex md:flex-col md:items-center mb-6">
        <div class="md:w-1/3 mt-5">
            <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                Name
            </label>
        </div>
        <div class="md:w-1/3">
            <input type="text" formControlName="name" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
        </div>

        
        <div class="md:w-1/3 mt-5">
            <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                Email
            </label>
        </div>
        <div class="md:w-1/3">
            <input type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" >
        </div>

        <div class="md:w-1/3" formArrayName="contact" *ngFor="let contact of contacts.controls; let i = index">
            <div class="md:w-1/3 mt-5" >
                <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                    {{i === 0 ? 'Home' : i === 1 ? 'Mobile' : i === 2 ? 'Work' : null}}
                </label>
            </div>
            <div class="md:w-full flex flex-row mt-5" >
                <input type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" >
                <button type="button" *ngIf="i === 0 ? false : true" (click)="removeContact(i); getArray()" class="ml-5 bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">Delete</button>
            </div>
        </div>

        <button type="button" *ngIf="toggleButton" (click)="addContact(); getArray()" class="mt-5 ml-5 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">Add Contact</button>

        

        <div class="md:w-1/3 mt-5">
            <label class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                Skills
            </label>
        </div>
        <div class="md:w-1/3 flex flex-col items-center mt-5" formArrayName="skills" *ngFor="let skill of skills.controls; let i = index" >
            <input type="text" placeholder="Skill name" class="placeholder:font-bold bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" >
            <textarea  cols="10" rows="5" placeholder="Skill Description" class="placeholder:font-bold resize-none mt-5 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"></textarea>
            <button type="button" *ngIf="i === 0 ? false : true" (click)="removeSkill(i)" class="w-1/5 mt-5 ml-5 bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">Delete skill</button>
        </div>
        
        <button type="button" (click)="addSkill()" class="mt-5 ml-5 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">Add Skill</button>

        <button 
        class="mt-10 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" 
        type="submit">
            Submit
        </button>
    </div>
</form>
<!-- <app-child *ngFor="let item of testArr; let i = index;" [item]="item" [test]="passVar"></app-child> -->